<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="template_assets/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>SADU File Management System</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="template_assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="template_assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />

    <!--  Custom CSS -->
    <link href="Content/custom.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project
    <link href="~/template_assets/css/demo.css" rel="stylesheet" />-->

    <script src="~/Scripts/jquery-2.2.4.js"></script>



    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="template_assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>
    <div id="loading-gif"></div>
    <div class="wrapper">
        <div class="sidebar" data-color="green"
             data-image="">

            <!--

                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag

            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="@Url.Action("Index")" class="simple-text">
                        @Session["first_name"]
                    </a>
                </div>

                <ul class="nav layout-nav">
                    <li id="dashboard-nav">
                        <a href="@Url.Action("Index", "Users")">
                            <i class="pe-7s-home"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li id="user-nav">
                        @if ((bool)Session["isAdmin"])
                        {
                            <a href="@Url.Action("UsersList", "Users")">
                                <i class="pe-7s-user"></i>
                                <p>Users</p>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("UserProfile", "Users")">
                                <i class="pe-7s-user"></i>
                                <p>Profile</p>
                            </a>
                        }
                    </li>
                    @if ((bool)Session["isAdmin"])
                    {
                        <li id="organization-nav">
                            <a href="@Url.Action("Index", "Organizations")">
                                <i class="pe-7s-culture"></i>
                                <p>Organizations</p>
                            </a>
                        </li>
                    }
                    <li>
                        <a href="@Url.Action("Logout", "Session", new { validRequest = true })">
                            <i class="pe-7s-back"></i>
                            <p>Logout</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-sm hidden-xs"></b>
                                    <span class="notification hidden-sm hidden-xs">5</span>
                                    <p class="hidden-lg hidden-md">
                                        5 Notifications
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Notification 1</a></li>
                                    <li><a href="#">Notification 2</a></li>
                                    <li><a href="#">Notification 3</a></li>
                                    <li><a href="#">Notification 4</a></li>
                                    <li><a href="#">Another notification</a></li>
                                </ul>
                            </li>
                            @*<li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <p>
                                                Dropdown
                                                <b class="caret"></b>
                                            </p>
                                      </a>
                                      <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                </li>*@
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Create Submission Modal -->
    <div id="createSubmissionModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <form id="createSubmissionForm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create New Submission</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title: </label>
                            <input type="text" class="form-control" name="submissionTitle" id="submissionTitle" />
                        </div>
                        <div class="form-group">
                            <label for="details">Details: </label>
                            <textarea rows="5" class="form-control" name="submissionDetails" id="submissionDetails"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="submissionDeadline">Deadline: </label>
                            <input type="text" class="form-control" name="submissionDeadline" id="submissionDeadline" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
                        <button type="submit" id="createSubmissionBtn" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
    <!-- Create Submission Modal -->
    <!-- Create User Modal -->
    <div id="createUserModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <form id="createUserForm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create New User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="submissionOrganization">Organization: </label>
                            <select class="form-control" name="organization" id="organizationsList"></select>
                        </div>
                        <div class="form-group">
                            <label for="title">E-mail Address </label>
                            <input type="email" class="form-control" name="email" required />
                        </div>
                        <div class="form-group">
                            <label for="details">First Name: </label>
                            <input type="text" class="form-control" name="firstName" required />
                        </div>
                        <div class="form-group">
                            <label for="details">Last Name: </label>
                            <input type="text" class="form-control" name="lastName" required />
                        </div>
                        <div class="form-group">
                            <label for="details">Password: </label>
                            <input type="password" class="form-control" name="password" required />
                        </div>
                        <label class="checkbox">
                            <input type="checkbox" name="isAdmin" value="true" data-toggle="checkbox"><span>Admin</span>
                        </label>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Create User Modal -->

    <!-- Create Org Modal -->
    <div id="createOrganizationModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">

            <form id="createOrganizationForm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create New Organization</h4>
                    </div>
                    <div class="modal-body">
                        <img class="org-img-preview"/>
                        <div class="form-group">
                            <label for="OrganizationImage">Image</label>
                            <input type="file" id="createOrgImg" name="OrganizationImage" onchange="storeTempImage(this);" accept="image/jpeg, image/png, image/gif, image/x-ms-bmp"/>
                        </div>
                        <div class="form-group">
                            <label for="title">Organization Name: </label>
                            <input type="text" id="createOrgName" class="form-control" name="name" required />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Create Org Modal -->

    <!-- Org Info Modal -->
    <div id="orgInfoModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Organization Members</h4>
                </div>
                <div class="modal-body">
                    <div id="orgInfoPartial"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
                        <button id="deleteOrgBtn" class="btn btn-danger">Delete Organization</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Org Info Modal -->
</body>

<!--   Core JS Files   -->
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/Plugins/jquery.datetimepicker.full.min.js"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="template_assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Notifications Plugin    -->
<script src="template_assets/js/bootstrap-notify.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="template_assets/js/light-bootstrap-dashboard.js"></script>

<!-- Custom JS Files-->
<script src="~/Scripts/Custom/custom.js"></script>
<script src="~/Scripts/Custom/requests.js"></script>
<script src="~/Scripts/Custom/file-upload.js"></script>

</html>
