@using sadu.Models
@model IEnumerable<sadu.Models.Submission>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Submission> submission = Model.ToList();
}

<h3>Pending Submissions</h3>

@for (var i = 0; i < submission.Count(); i++)
{
        <div class="row">
            @for (var j = 0; j < 2; j++, i++)
            {
                <div class="col col-sm-6">
                    @if (i >= submission.Count())
                    {
                        break;
                    }
                    <div class="card">
                        <div class="card-image logo">
                            <img src="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~/assets/") + Model.ElementAt(i).Organization.OrganizationImage.Image)" alt="alternate text" />
                        </div>
                        <h4>@Model.ElementAt(i).title</h4>
                    </div>
                </div>
            }

        </div>

}

@*@foreach (var item in Model){
    <div class="row">
        <div class="col col-sm-6">
            <div class="card">
                <div class="card-image logo">
                    <img src="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~/Assets/") + item.Organization.OrganizationImage.Image)" alt="Alternate Text" />
                </div>
                <h4>@item.title</h4>
            </div>
        </div>
    </div>
}*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAdmin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAdmin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
